<h2>
  Search Results:
</h2>
<ul class = "list-group" *ngIf="invalid">
    <li class = "list-group-item" *ngFor = "let key of productsKeys">
    {{'product number '+key+' , name '+products[key].name +" , price "+ products[key].price}}
  </li>
</ul>
<div *ngIf="!invalid">Sorry! no results</div>
<br>
 <button class="btn btn-info" [routerLink] = "['/']">Return</button>