<h1 style="text-align:center">Products</h1>
<h2>Search Product: </h2>
<form [formGroup] = "searchform" (ngSubmit) = "sendData()">
  <div>
    <label for="name"></label>
    <input type="text" name="name" id="name" class="form-control" formControlName = "name" placeholder="Search name of product">
  </div>
  <br>
  <input type="submit" value = "Search" class = "btn btn-primary">
</form>

<h2>
  List of Products:
</h2>
<ul class = "list-group">
  <li class = "list-group-item" *ngFor = "let key of productsKeys">
     <button class="btn btn-info" [routerLink] = "['/edit-product', key]" (click) = "updateProduct(key)">Edit</button>
    {{'product number '+key+' , name '+products[key].name +" , price "+ products[key].price}}
  </li>
</ul>
