<h1 style="text-align:center">Products From Fire Base</h1>
<h2>
  List of products from fire base:
</h2>
<ul  class = "list-group">
   <li class = "list-group-item" *ngFor = "let product of products">
      {{'product number ' + product.id +' , name '+ product.name +" , price "+ product.price}}
    </li>
</ul>